<!DOCTYPE html>
<html>
<head>
    <title>Créer une recette </title>
</head>
<body>
    <h2>prix de la recette par portion</h2>

    <div class="search-filter">
        <input type="text" id="name" placeholder="Nom">
        <input type="text" id="reference" placeholder="Référence interne">
        <input type="text" id="category" placeholder="Catégorie">
        <input type="text" id="supplier" placeholder="Fournisseur (défaut)">
        <input type="number" id="unit_cost" placeholder="Coût unitaire">
        <input type="number" id="stock_quantity" placeholder="Quantité(s) en stock">
        <button id="addIngredient">Ajouter</button>
    </div>
