<!DOCTYPE html>
<html>
<head>
  <title>Recettes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- Lien vers les fichiers CSS de la barre latérale et des ingrédients -->
  <link rel="stylesheet" href="static/css/dashboard.css">
  <link rel="stylesheet" href="static/css/ingredients.css">
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
  <h2>Recettes</h2>
  <div class="sidebar">
    <!-- Contenu de la barre latérale depuis dashboard.css -->
  </div>    <h2>prix de la recette par portion</h2>

    <div class="search-filter">
        <input type="text" id="name" placeholder="Nom">
        <input type="text" id="reference" placeholder="Référence interne">
        <input type="text" id="category" placeholder="Catégorie">
        <input type="number" id="unit_cost" placeholder="Coût unitaire">
        <input type="number" id="stock_quantity" placeholder="Quantité(s) en stock">
        <button id="addIngredient">Ajouter une recette </button>
    </div>
